@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1917;
  /* stone-900 */
  border-left: 1px solid #292524;
  /* stone-800 */
}

::-webkit-scrollbar-thumb {
  background-color: #57534e;
  /* stone-600 */
  border-radius: 5px;
  border: 2px solid #1c1917;
  /* Match track for padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #78716c;
  /* stone-500 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #57534e #1c1917;
}